<div class="container main">
    <div class="card">
        <div class="header">
            <h5>Forgot Password</h5>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form [formGroup]="formCredential">
                    <div>

                        <div class="form-group">
                            <input type="email" class="form-control" id="email" formControlName="email" required>
                            <label class="form-control-placeholder" for="email">Email address</label>
                            <small id="emailHelp" class="form-text text-muted">We'll send you an email with instructions
                                to change your password. </small>
                        </div>
                        <button class="btn btn-primary" (click)="send()" [disabled]="isloading">{{!isloading? (wasSent? "Send Again": "Send") : "Sending..."}} <i *ngIf="wasSent" class="material-icons green800">done</i></button>

                    </div>
                </form>
                <errors-list [errors]="errors"></errors-list>
            </div>
        </div>
    </div>
</div>