<div class="container main">
    <div class="card">
        <div class="header">

            <h5>Change Password</h5>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form [formGroup]="fGroup" class="needs-validation">
                    <div *ngIf="!changedSuccessfully">

                        <div *ngIf="!!!token" class="form-group">
                            <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword" [required]="!!!token">
                            <label class="form-control-placeholder" for="oldPassword">Old Password</label>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="newPassword" formControlName="newPassword" required>
                            <label class="form-control-placeholder" for="newPassword">New Password</label>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="newPasswordConfirm" formControlName="newPasswordConfirm" required>
                            <label class="form-control-placeholder" for="newPasswordConfirm">Confirm New Password</label>
                        </div>

                        <!-- <button class="btn btn-primary" (click)="onSubmit()" [disabled]="isloading || !fGroup.valid"> -->
                        <button class="btn btn-primary" (click)="onSubmit()">
                            {{isLoading ? "Sending..." : "Submit"}}</button>
                    </div>
                </form>
                <errors-list [errors]="errors"></errors-list>
                <div class="alert alert-success" *ngIf="changedSuccessfully">
                    <p class="text-center">Password has been successfully changed!</p>
                    <button class="btn btn-primary" routerLink="/login">
                        Go To Login Page</button>
                </div>
            </div>
        </div>
    </div>
</div>