.link {
    color: gray;
    text-decoration: none;
}

.main {
    align-items: center;
    /* padding: 5px; */
}

small {
    font-size: 0.7rem;
}

img {
    height: 35px;
    width: 35px;
    padding: 2px;
}

.menu {
    left: -10rem;
}