<div class="container main">
    <div class="card">
        <div class="header">

            <h5>Register</h5>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form [formGroup]="frmGroup">
                    <div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" formControlName="email" required>
                            <label class="form-control-placeholder" for="email">Email address</label>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="password" formControlName="password" required>
                            <label class="form-control-placeholder" for="password">Password</label>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="passwordConfirm" formControlName="passwordConfirm" required>
                            <label class="form-control-placeholder" for="passwordConfirm">Confirm Password</label>
                        </div>

                        <button class="btn btn-primary" (click)="onSubmit()" [disabled]="isloading">
                            {{isloading ? "Please wait ..." : "Submit"}}</button>

                        <div class="etc-login-form">
                            <p>Already have an account? <a class="text-right" href="#" routerLink="/auth" rel="noopener noreferrer">Go To Login</a></p>
                        </div>
                    </div>
                </form>
                <errors-list [errors]="errors"></errors-list>
            </div>
        </div>
    </div>
</div>