<div class="container main">
    <div class="card">
        <div class="header">

            <h5>Account Login</h5>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form [formGroup]="formCredential">
                    <div *ngIf="!cr.IsAuthenticated">

                        <div class="form-group">
                            <input type="email" class="form-control" id="email" formControlName="email" required>
                            <label class="form-control-placeholder" for="email">Email address</label>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="password" formControlName="password" required>
                            <label class="form-control-placeholder" for="password">Password</label>
                            <div class="etc-login-form">
                                <p>Forgot password? <a class="text-right" href="#" routerLink="/forgotpassword" rel="noopener noreferrer">click here</a></p>
                                <p>New User? <a class="text-right" href="#" routerLink="/register" rel="noopener noreferrer">Create new user</a></p>
                            </div>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe" formControlName="rememberMe">
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>

                        <button class="btn btn-primary" (click)="logIn()" [disabled]="isloading">
                            {{isloading ? "Loging In..." : "Log In"}}</button>
                    </div>
                    <button *ngIf="cr.IsAuthenticated" class="btn btn-primary" (click)="logOut()" [disabled]="isloading">
                        {{isloading ? "Loging Out..." : "Log Out"}}</button>
                </form>
                <errors-list [errors]="cr.Errors"></errors-list>
            </div>
        </div>
    </div>
</div>