.main{
    padding: 2rem;
    background-color: #e6e6e6;
}
.card{
padding: 2rem;
}

.header{text-align: center;
padding: 2rem;
}
.btn{
    width: 100%;
}

.etc-login-form{
    font-size: 0.75rem;
    color: grey;
}
.etc-login-form p{
    margin-bottom: 0;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}
  
.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
}
  
.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}