<div class="text-right">
    <div *ngIf="!isAuth " class="text-right">
        <button type="button " class="btn btn-link link " routerLink="/auth">Login</button>
    </div>

    <div *ngIf="isAuth" class="main btn-group" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <small>{{credential.Email}}</small>
        <img src="https://picsum.photos/30 " alt="... " class="rounded-circle">

        <div class="dropdown-menu">
            <a class="dropdown-item" href="#" routerLink="/dashboard">My Accunt</a>
            <a class="dropdown-item" href="#" routerLink="/auth">Logout</a>
        </div>
    </div>

</div>