<div class="container main">
    <div class="card">
        <div class="header">

            <h5>Email Verification</h5>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div *ngIf="!!token">
                    <div *ngIf="isLoading" class="alert alert-info">
                        <p class="text-center">Your Email Is Verifying...</p>
                    </div>
                    <div *ngIf="isVerifiedSuccessfully" class="alert alert-success">
                        <p class="text-center">Your Email Has Been Successfully Verified</p>
                        <button class="btn btn-primary" routerLink="/home">
                            Go To Home Page</button>
                    </div>
                </div>

                <div *ngIf="!!!token">
                    <form [formGroup]="fGroup" class="needs-validation">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" formControlName="email" required>
                            <label class="form-control-placeholder" for="email">Email</label>
                        </div>
                    </form>
                    <button class="btn btn-primary" (click)="onSubmit()" [disabled]="isLoading">
                        {{isLoading ? "Please wait ..." : "Send Email Verification"}}</button>

                    <p *ngIf="!!message">{{message}}</p>
                </div>
                <errors-list [errors]="errors"></errors-list>
            </div>
        </div>
    </div>
</div>