<div class="container main">
    <div class="card">
        <div class="header">

            <h5>Email Verification</h5>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div *ngIf="!!token">
                    <div *ngIf="isLoading" class="alert alert-info">
                        <p class="text-center">Your Email Is Verifying...</p>
                    </div>
                    <div *ngIf="isVerifiedSuccessfully" class="alert alert-success">
                        <p class="text-center">Your Email Has Been Successfully Verified</p>
                        <button class="btn btn-primary" routerLink="/home">
                            Go To Home Page</button>
                    </div>
                </div>

                <div *ngIf="!!!token">

                    <button class="btn btn-primary" (click)="onSubmit()" [disabled]="isLoading">
                        {{isLoading ? "Please wait ..." : "Sen Email Verification"}}</button>

                    <p *ngIf="!!email">We've just sent an email to <span>{{email}}</span></p>
                </div>
                <errors-list [errors]="errors"></errors-list>
            </div>
        </div>
    </div>
</div>