<div class="container main">
    <div class="card">
        <div class="header">
            <h5>Profile</h5>
            <h6 *ngIf="isloading">Loading Profile...</h6>
            <!-- <i class="material-icons">account_circle</i> -->
            <div class="avatar-wrapper">
                <div class="file-input">
                    <img src="{{imageUrl}}" alt="" class="rounded-circle avatar">
                    <input class="fake-input" type="file" accept="image/*" id="getimage" (change)="onFileChanged($event)" />
                </div>
                <button class="btn btn-link link" *ngIf="hasAvatar" (click)="onRemoveAvatar()">remove</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mx-auto">
                <form [formGroup]="fgProfile">

                    <text-field [id]="'firstName'" [formControl]="firstName" [placeholder]="'First Name'"></text-field>
                    <text-field [id]="'lastName'" [formControl]="lastName" [placeholder]="'Last Name'"></text-field>
                    <text-field [id]="'company'" [formControl]="company" [placeholder]="'Company'"></text-field>
                </form>

                <div id="contact">
                    <button class="btn btn-link contact-label" type="button" data-toggle="collapse" data-target="#collapseItem" aria-expanded="true">
                        Contact
                    </button>
                </div>


                <div id="collapseItem" [ngClass]="(profile.contacts.length>0)? 'collapse show':'collapse'" data-parent="#contact">
                    <form [formGroup]="fgContact">

                        <text-field [id]="'address1'" [formControl]="address1" [placeholder]="'Address 1'"></text-field>
                        <text-field [id]="'address2'" [formControl]="address2" [placeholder]="'Address 2'"></text-field>
                        <text-field [id]="'city'" [formControl]="city" [placeholder]="'City'"></text-field>
                        <text-field [id]="'state'" [formControl]="state" [placeholder]="'State'"></text-field>
                        <text-field [id]="'country'" [formControl]="country" [placeholder]="'Country'"></text-field>
                        <text-field [id]="'zipcode'" [formControl]="zipcode" [placeholder]="'Zipcode'"></text-field>
                        <text-field [id]="'phonenumber'" [formControl]="phonenumber" [placeholder]="'Phone Number'"></text-field>

                    </form>
                </div>


                <button *ngIf="isDirty()" class="btn btn-primary" (click)="onSubmit()" [disabled]="isSavePending()">
                            {{isloading ? "Please wait ..." : "Save"}}</button>
                <errors-list [errors]="errors"></errors-list>
            </div>
        </div>
    </div>
</div>